<form class="form signup-form">
  <h2 class="page-title">Create Channel</h2>
  <div class="form-group">
    <label for="channel-name">Channel Name:</label>
    <input class="form-input" type="text" id="channel-name" />
  </div>
  <div>
    <button id="submit-channel-btn" type="submit">Add Channel</button>
  </div>
</form>