{{! all public channels }}
{{! chat }}
{{! discover bar, channel template }}
{{! sidebar to switch channels, create channels }}
{{! button to close sidebar }}

<div>
  <div>
    <h3>Channels</h3>
  </div>
  <div>
    <aside>Discover</aside>
  </div>
</div>