{{! all public channels }}
{{! chat }}
{{! discover bar, channel template }}
{{! sidebar to switch channels, create channels }}
{{! button to close sidebar }}

<div>
  <div>
    <div id="discover-channel">Discover</div>
  </div>
</div>