{{! all public channels }}
{{! chat }}
{{! discover bar, channel template }}
{{! sidebar to switch channels, create channels }}
{{! button to close sidebar }}

<div>
  <button id="add-channel">Add Channel</button>
</div>

<div>
  <div>
    <p>{{name}}</p>
    <h3>History of Messagesasdsadfgsdfgdfg</h3>
    <span id="messages"></span>
  </div>
  <div class="chat-bar">
    <div>
      <input id="typed-message" type="text" />
      <button id="send-message">Send Message</button>
    </div>
  </div>

  <button id="logout-btn" type="click">Log out</button>
</div>