<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <h1>Welcome to Chat App</h1>
  </nav>
  <main>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  <script src="/js/index.js"></script>
</body>

</html>