<div class="hidden" id="home" >
  <div>
    <p>Logged in as {{name}}</p>
    <h3>History of Messages</h3>
    <span id="messages"></span>
  </div>
  <div class="chat-bar">
    <div>
      <input id="typed-message" type="text" />
      <button id="send-message">Send Message</button>
    </div>
  </div>
  <button id="logout-btn" type="click">Log out</button>
</div>

<div id="lobby">
  {{> lobby}}
</div>
<div class="hidden" id="add-channel">
  {{> add-channel }}
</div>
<div id="sidebar-background"></div>
<div id="view-selector">
  <button id="home-btn">Home</button>
  <button id="discover-btn">Search</button>
  <button id="create-channel-btn">+</button>
</div>