<div>
  <div>
    <h3>History of Messages</h3>
    <span id="messages"></span>
  </div>
  <dic class="chat-bar">
    <div>
      <input id="name-message" type="text" />
      <button id="send-name">Change Name</button>
    </div>
    <div>
      <input id="typed-message" type="text" />
      <button id="send-message">Send Message</button>
    </div>
</div>

<button id="logout-btn" type="click">Log out</button>
</div>

<script src="/js/logout.js"></script>