<div class="base">
  <div>
    <p>{{name}}</p>
    <h3>History of Messages</h3>
    <span id="messages"></span>
  </div>
  <div class="chat-bar">
    <div>
      <input id="typed-message" type="text" />
      <button id="send-message">Send Message</button>
    </div>
  </div>

  <button id="logout-btn" type="click">Log out</button>
</div>

<div class="lobby">
  {{> lobby}}
  {{> add-channel }}
</div>