<div>
  <div>
    <h3>History of Messages</h3>
    <span id="messages"></span>
  </div>
  <div>
    <input id="name-message" type="text"/>
  </div>
  <div>
    <button id="send-name">Change Name</button>
  </div>
  <div>
    <input id="typed-message" type="text"/>
  </div>
  <div>
    <button id="send-message">Send Message</button>
  </div>
  <div>
  <script src="/js/logout.js"></script>
  
    <button id="logout-btn" type="submit">Log out</button>
  </div>
</div>

<script src="./js/main.js"></script>