body {
    margin: 0;
}

main {
    display: block;

}
  
h1 {
    font-size: 30px;
    margin: 0.67em 0;
}

:root {
    --background: #0a0f24;
    --text: white;
    --navbar: #E0EEC6;
    --sidebar: #4b5063;
}

body {
    display: flex;
    background-color: var(--sidebar);
    flex-direction: column;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
}

#typed-message:focus {
    background-color: white;
    height: 100px;
    width: 250px;
    display: inline-block;
}

#messages div {
    background-color: var(--navbar);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    background-size: contain;
}

#messages {
    height: 500px;
    width: 150%;
    overflow-y: scroll;
    display: inline-block;
    background: var(--navbar);
    border-radius: 5px;
}

.hidden {
    display: none;
}
.flex-container {
    display: flex;
}

.flex-item {
    flex: 1 1 0;
    min-width: 0;
}
