body {
    margin: 0;
}

main {
    display: block;

}
  
h1 {
    font-size: 30px;
    margin: 0.67em 0;
}

:root {
    /* declare a variable with `--` syntax */
    --background: #0a0f24;
    --text: white;
    --navbar: white;
    --sidebar: #4b5063;
}



body {
    display: flex;
    background-color: var(--sidebar);
    flex-direction: column;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
}

#typed-message:focus {
    background-color: white;
  height: 200px;
}

#messages div {
    background-color: var(--navbar);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

#messages {
    height: 500px;
    overflow-y: scroll;
    display: block;
    background: cyan;
}

.hidden {
    display: none;
}

#sidebar-background {
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#view-selector button{
    width: 50px;
    height: 50px;
    margin: 15px;
 }

#view-selector {
    position: absolute;
    width: 80px;
    left: -1px;
    top: -8px;
    margin: 20px 0px;
}